<center>
<h1>Cari Kajian</h1>
<form>
	<input type='text' name='q' value='{{query}}' size='55'></input>
        <input type='submit' value='Cari'></input>
</form>
</center>
{% for row in rows %}
	<a title="{{row.url}}"href="{{row.clickurl}}">{{row.title}}</a>
	<br>
	{{row.abstract}}
	<br>
	{{row.url}}
	<br>
	<br>
{% endfor %}

{% if prev %}
<a href="?q={{query}}&page={{prev}}">Prev Page</a>
&nbsp;&nbsp;&nbsp;
{% endif %}

{% if next %}
<a href="?q={{query}}&page={{next}}">Next Page</a>
{% endif %}
